body{
    height: 100%;
    width: 100%;
    background-image: url("https://wallpapercave.com/wp/wp2691218.jpg?fbclid=IwAR09MKQfM0OGio8TEFBzcgbrklBvouC6Og1n36vFKbA7OX9hPL1xktp9Bjw");
    background-repeat: no-repeat;
    background-size:cover;
}    
.flex-container {
    display: flex;
    justify-content: center;
    position: relative;
  }
  
.flex-container > div {
    width: auto;
    margin: 60px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
.textstyle{
    font-family: 'Times New Roman';
    color: rgb(233, 157, 17);
    text-align: center;
    border: white;
}
.shadow{
    text-shadow: 4px 2px white;
}
.pic{
    width: 550px;
    padding-left: 10px;
    padding-right: 10px;
    height: 400px;
}
.button {
  margin-left: 35%;
  margin-top: 35px; 
  border-radius: 25px;
  background-color: rgb(233, 157, 17);
  font-family: 'iCiel Pacifico';
  color: white;
  text-align: center;
  font-size: 30px;
  padding: 20px;
  width: 180px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button:hover span {
  padding-right: 25px;
}
.button:hover span:after {
  opacity: 1;
  right: 0;
}